body {
  --color-text: var(--section-light-text-color);
  --color-background: var(--section-light-bg-color);
}
/* ===== Cover =======*/

#blog-logo {
  display: block;
  max-height: 100px;
  width: auto;
  margin: 0 auto;
  line-height: 0;
}

#site-head.withCenteredImage{
  /* can't be used together with video */
  background: var(--section-light-bg-color) no-repeat center center;
}

#site-head, #site-head.withCenteredImage {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  margin-bottom: 0rem;
  text-align: center;
  color: var(--cover-text-color);
  background-size: cover;

  /* Big cover video at the landing area */
  video {
    bottom: 0;
    height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: -100;
  }

  .title-and-description-guard {
    margin: auto;
    padding: 0.6em;
    background-color: var(--cover-title-and-description-guard-bg-color);
    border-radius: 25px;
    width: fit-content;
  }

  .blog-title {
    margin: 10px 0 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    text-shadow: var(--cover-title-text-shadow);
  }

  .blog-description {
    margin: 0;
    font-size: 2.5rem;
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0;
    text-shadow: var(--cover-title-text-shadow);
  }

  #site-languages {
    text-align: right;
  }

  #site-languages .btn-lang {
    text-decoration: none;
    background-color: var(--highlight);
    color: var(--highlight-contrast);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    font-size: 70%;
    margin: 0 0 0 0.7rem;
    padding: 0.3rem 0.7rem;
    position: relative;
    text-transform: uppercase;

    &.active,
    &:hover {
      color: var(--highlight-inverse-contrast);
      background-color: var(--highlight-inverse);
    }
  }

  // Landing screen menu
  a.btn, #site-languages .btn-lang {
    font-family: "Open Sans", sans-serif;
  }

  a.btn {
    text-decoration: none;
    background-color: var(--highlight);
    //background: var(--highlight-gradient);
    color: var(--highlight-contrast);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    overflow: visible;
    padding: 10px 20px 10px 20px;
    position: relative;
    margin-top: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: lighter;

    &:hover {
      color: var(--highlight-inverse-contrast);
      background-color: var(--highlight-inverse);
    }
  }

  /** The arrow button to scroll to content */
  #header-arrow {
    font-size: 140px;
    margin: -10px auto;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -120px;
    cursor: pointer;
    opacity: 0.6;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;

    &:hover {
      color: inherit;
      opacity: 0.9;
    }
  }
}

// ========== Sticky menus ===========
/* Left sticky menu */
.fixed-nav {
  background-color: var(--section-light-bg-color);
  border-radius: 0 25px 20px 0;
  padding: 1em 1.5em;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 40px;
  z-index: 99999;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: bold;
}

a.fn-item {
  display: block;
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;

  &:hover,
  &.active {
    color: var(--sticky-menu-text-color);
  }

  &.active {
    opacity: 1;
  }
}

/* ========= Content ==========*/
.post-title {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.post-holder {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  position: relative;




  &.dark {
    // override variables for alternative style
    --color-text: var(--section-dark-text-color);
    --color-background: var(--section-dark-bg-color);

    background-color: var(--section-dark-bg-color);
   // background: var(--section-dark-bg-gradient);
    color: var(--section-dark-text-color);

    // Fix <hr> color
    hr {
      border-color: var(--section-dark-text-color);
    }

    // On alt posts move the triangle to the right and match the background the color
    .post-after {
      left: unset;
      right: 6%;
      border-top-color: var(--section-dark-bg-color);
    }

    .wave-section {
    position: relative;
    padding: 100px 0;
    background-color: var(--section-light-bg-color);
}
    .wave-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 210px; /* Match the SVG viewBox height */
background-image: url("data:image/svg+xml,%3Csvg id='wave' style='transform:rotate(180deg); transition: 0.3s' viewBox='0 0 1440 130' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='sw-gradient-0' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop stop-color='rgba(2, 73, 101, 1)' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='rgba(2, 73, 101, 1)' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath style='transform:translate(0, 0px); opacity:1' fill='url(%23sw-gradient-0)' d='M0,104L60,91C120,78,240,52,360,41.2C480,30,600,35,720,43.3C840,52,960,65,1080,71.5C1200,78,1320,78,1440,73.7C1560,69,1680,61,1800,62.8C1920,65,2040,78,2160,86.7C2280,95,2400,100,2520,88.8C2640,78,2760,52,2880,52C3000,52,3120,78,3240,93.2C3360,108,3480,113,3600,112.7C3720,113,3840,108,3960,93.2C4080,78,4200,52,4320,45.5C4440,39,4560,52,4680,56.3C4800,61,4920,56,5040,52C5160,48,5280,43,5400,54.2C5520,65,5640,91,5760,104C5880,117,6000,117,6120,117C6240,117,6360,117,6480,101.8C6600,87,6720,56,6840,49.8C6960,43,7080,61,7200,65C7320,69,7440,61,7560,49.8C7680,39,7800,26,7920,19.5C8040,13,8160,13,8280,30.3C8400,48,8520,82,8580,99.7L8640,117L8640,130L8580,130C8520,130,8400,130,8280,130C8160,130,8040,130,7920,130C7800,130,7680,130,7560,130C7440,130,7320,130,7200,130C7080,130,6960,130,6840,130C6720,130,6600,130,6480,130C6360,130,6240,130,6120,130C6000,130,5880,130,5760,130C5640,130,5520,130,5400,130C5280,130,5160,130,5040,130C4920,130,4800,130,4680,130C4560,130,4440,130,4320,130C4200,130,4080,130,3960,130C3840,130,3720,130,3600,130C3480,130,3360,130,3240,130C3120,130,3000,130,2880,130C2760,130,2640,130,2520,130C2400,130,2280,130,2160,130C2040,130,1920,130,1800,130C1680,130,1560,130,1440,130C1320,130,1200,130,1080,130C960,130,840,130,720,130C600,130,480,130,360,130C240,130,120,130,60,130L0,130Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
}




  }

  /* The triangular parts between posts */
/*
  .post-after {
    position: absolute;
    bottom: -40px;
    z-index: 1;
    left: 6%;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 50px solid var(--color-background);
    border-radius: 25px;
  }
    */
}

/* Every post, on every page, gets this style on its <article> tag
  Not inside the post holder as this also applies for single pages
*/
.post {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 0rem auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
  height: 70%;
  word-break: break-word;
  hyphens: auto;
}


.wave-section {
    position: relative;
    padding: 0;
    background-color: var(--section-light-bg-color);
}



/* ======= Single pages =========== */
.page-template {

  background-color: var(--single-page-bg-color);
  color: var(--single-page-text-color);
  // to remove the white space after the footer on pages shorter
  // than actually would fit into the browser window
  min-height: calc(100vh - 2em);

  // Tweak the .post wrapper style
  .post {
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    // to account for the margin of content elements
    padding-bottom: 1em;
  }

  // Kill that stylish little circle that was on the border
  .post:after {
    display: none;
  }

  // Insert some mad padding up in the header for better spacing
  .post-header {
    padding: 60px 0;
  }
}

// Keep large images within the bounds of the post-width
.post-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/** ==========  Site footer ============ */
.site-footer {
  background: var(--footer-color-background);
  color: var(--footer-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  position: relative;
  margin: 0rem 0 0 0;
  padding: 1rem 0;

  line-height: 1.5em;
  text-align: center;
}

.site-footer a {
  color: var(--footer-color);
  text-decoration: underline;
}

.site-footer a:hover {
  color: var(--sticky-menu-text-color);
}

/* Footer Icons */
.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 8px;
}

/* Footer Links */
.site-footer .links {
  text-align: center;

  ol {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
  }

  li {
    margin-left: unset;
  }
}